body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white);
  color: var(--main-text-color);
}

:root {
  --primary-white:#ffffff;
  --headline-color: #212121;
  --accent-color:#2196F3;
  --second-background:#2F303A;
  --black-logo-color:#000000;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  --main-text-color: #757575;
  --input-border-color:rgba(33, 33, 33, 0.2);
  --button-hover-color:#188CE8;
  --icon-fill-color:#AFB1B8;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white);
  color: var(--main-text-color);
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.section:nth-child(4) {
  background-color: #F5F4FA;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--headline-color);
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--headline-color);
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile-contacts{
  display:flex;
  flex-direction: column;
}

.mobile-contacts__tel{
text-decoration: none;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color:var(--accent-color);
   }

 .mobile-contacts__email{
      text-decoration: none;
      font-size: 24px;
     line-height: 1.16;
     letter-spacing: 0.02em;
     color:var(--main-text-color);
   }

  

/* Auth-nav links */
.auth-nav {
  display: none;
}
@media (min-width: 768px) {
  .auth-nav {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .auth-nav {
    font-size: 14px;
    line-height: 1.14;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth-item + .auth-item {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .auth-item + .auth-item {
    margin-left: 40px;
    margin-top: 0;
  }
}

.auth-item {
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-color);
}

.envelope,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__site-nav {
  display: none;
}
@media (min-width: 768px) {
  .header__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 1200px) {
  .header__site-nav {
    margin-left: 93px;
  }
}
.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__main-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__site-nav .header__page + .header__page {
  margin-left: 50px;
}
.header__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: var(--headline-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__site-nav .header__page {
  position: relative;
  padding: 28px 0px;
}
@media (min-width: 768px) {
  .header__page .header__link--current::after {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    content: "";
  }
}
.header__burger {
  display: block;
  margin-left: 284px;
  border: transparent;
  background-color: var(--primary-white);
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--black-logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.footer,
.hero {
  background: var(--second-background);
}

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroung.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero__overlay {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: 1px Solid var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.mobile-menu {
  padding: 48px 38px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-white);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  text-decoration: none;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}
.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* Features design */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .feature {
    padding-top: 94px;
  }
}
@media (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.feature__item {
  display: block;
  width: 450px;
}
@media (min-width: 768px) {
  .feature__item {
    width: 354px;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}
@media (min-width: 768px) {
  .feature__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
.feature__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}
.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--headline-color);
}
.feature__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.feature__icon {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-container {
  background-color: #F5F4FA;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

/* what we do */
@media (max-width: 1199px) {
  .activity {
    display: none;
  }
}
.activity__title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.activity .activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
}
.activity__overlay-text {
  margin: 0;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white);
}

.img-container {
  position: relative;
}

/* our team cards design */
@media (min-width: 768px) {
  .team-members .team-members__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.team-members__list {
  display: inline-block;
  margin-top: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--primary-white);
}
.team-members__title {
  margin-top: 0px;
}
.team-members__list .team-members__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--headline-color);
}
.team-members__list:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team-members__list:not(:last-child) {
    margin-bottom: 0;
  }
}
.team-members__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-members__position {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-members__position:last-child {
  margin-bottom: 0px;
}
.team-members__image {
  width: 450px;
}
@media (min-width: 768px) {
  .team-members__image {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .team-members__image {
    width: 270px;
  }
}

/*Social links icons*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 122px;
  margin-right: 122px;
}
@media (min-width: 768px) {
  .socials {
    margin-left: 74px;
    margin-right: 74px;
  }
}
@media (min-width: 1200px) {
  .socials {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.socials__item {
  width: 44px;
  height: 44px;
  border-radius: 1px transparent;
}
.socials__icon {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-fill-color);
  width: 44px;
  height: 44px;
  -webkit-transition-property: fill, background-color, border-radius;
  transition-property: fill, background-color, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  width: 44px;
  height: 44px;
  fill: var(--primary-white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* Our clients section design */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-fill-color);
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
@media (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.clients__icon {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Features design */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .feature {
    padding-top: 94px;
  }
}
@media (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.feature__item {
  display: block;
  width: 450px;
}
@media (min-width: 768px) {
  .feature__item {
    width: 354px;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}
@media (min-width: 768px) {
  .feature__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
.feature__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}
.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--headline-color);
}
.feature__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.feature__icon {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-container {
  background-color: #F5F4FA;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

/* Footer design */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--second-background);
}
.footer__container {
  max-height: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    height: 464px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}
.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__studio {
  color: var(--primary-white);
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin-bottom: 28px;
}
.footer__address {
  margin-top: 28px;
  margin-bottom: 10px;
  color: var(--primary-white);
}
.footer__email {
  margin-bottom: 10px;
}
.footer__email, .footer__tel {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
@media (min-width: 1200px) {
  .footer__email, .footer__tel {
    text-align: left;
  }
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Socials footer sections  */
.socials-footer {
  width: 206px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .socials-footer {
    margin-left: 70px;
    margin-top: 12px;
    margin-bottom: 72px;
    text-align: lef;
  }
}
.socials-footer__headline {
  display: inline-block;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--primary-white);
}
.socials-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 10px;
  padding-left: 0px;
}
.socials-footer__link {
  fill: var(--primary-white);
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  -webkit-transition-property: fill, background-color, border-radius;
  transition-property: fill, background-color, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.socials-footer__link:hover, .socials-footer__:focus {
  width: 44px;
  height: 44px;
  fill: var(--primary-white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* Form*/
.subscription {
  width: 450px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .subscription {
    margin-left: 94px;
    width: 570px;
  }
}
.subscription__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .subscription__label {
    margin-top: 12px;
  }
}
.subscription__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.subscription__input {
  width: 450px;
  height: 50px;
  padding: 16px 18px;
  margin-bottom: 20px;
  color: var(--primary-white);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
@media (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}
.subscription__input:focus {
  border-color: var(--accent-color);
  border-radius: 4px;
}
.subscription__button {
  border: 1px solid var(--accent-color);
  width: 200px;
  height: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-icon {
  margin-left: 10px;
}

/* Modal window design & settings */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.modal {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--primary-white);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  /*overflow-y: auto;*/
}

.modal__headline {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
  color: var(--headline-color);
  background-color: var(--primary-white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close {
  fill: #000000;
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.btn-icon {
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Form */
.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
  display: block;
  margin-bottom: 4px;
}

.form-field__input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
}

.form-field__input:focus {
  border-color: var(--accent-color);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field__textarea {
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea:focus {
  border-color: var(--accent-color);
}

.form-field__textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.submit-btn {
  display: block;
  margin: 0 auto;
}

.policy-text--accent {
  color: var(--accent-color);
  margin-left: 5px;
}

.policy__text--hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid var(--headline-color);
  -webkit-transition: fill 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), fill 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.policy__text--hidden:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--primary-white);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}/*# sourceMappingURL=styles.css.map */