body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white);
  color: var(--main-text-color);
}

:root {
  --primary-white:#ffffff;
  --headline-color: #212121;
  --accent-color:#2196F3;
  --second-background:#2F303A;
  --black-logo-color:#000000;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  --main-text-color: #757575;
  --input-border-color:rgba(33, 33, 33, 0.2);
  --button-hover-color:#188CE8;
  --icon-fill-color:#AFB1B8;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.section:nth-child(4) {
  background-color: #F5F4FA;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Auth-nav links */
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
  
.email,
.tel-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-item + .auth-item {
  margin-left: 40px;
}

.auth-item {
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-color);
}

.envelope,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope:hover,
.envelope:focus {
  fill: var(--accent-color);
}

.tel-icon:hover,
.tel-icon:focus {
  fill: var(--accent-color);
}

.tel-header:hover {
  fill: var(--accent-color);
}

.site-nav__header {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav__header {
  display: flex;
  align-items: center;
}

.site-nav__header .header__page + .header__page {
  margin-left: 50px;
}

.header__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: var(--headline-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.site-nav__header .header__page {
  position: relative;
  padding: 28px 0px;
}

.header__page .header__link--current::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  content: "";
}

.site-nav__header {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav__header {
  display: flex;
  align-items: center;
}

.site-nav__header .header__page + .header__page {
  margin-left: 50px;
}

.header__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: var(--headline-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.site-nav__header .header__page {
  position: relative;
  padding: 28px 0px;
}

.header__page .header__link--current::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  content: "";
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--black-logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.footer,
.hero {
  background: var(--second-background);
}

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
}
.hero__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: 1px Solid var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

/* Features design */
.feature {
  padding-top: 94px;
}
.feature__list {
  display: flex;
}
.feature__item {
  width: 270px;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}
.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--headline-color);
}
.feature__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.feature__icon {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-container {
  background-color: #F5F4FA;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

/* what we do */
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--headline-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.activity__title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.activity__list {
  display: flex;
  justify-content: center;
}
.activity .activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
}
.activity__overlay-text {
  margin: 0;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white);
}

.img-container {
  position: relative;
}

/* our team cards design */
.team-members .team-members__catalog {
  display: flex;
}
.team-members__list {
  display: inline-block;
  margin-top: 0px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--primary-white);
}
.team-members__title {
  margin-top: 0px;
}
.team-members__list .team-members__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--headline-color);
}
.team-members__list:not(:last-child) {
  margin-right: 30px;
}
.team-members__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-members__position {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-members__position:last-child {
  margin-bottom: 0px;
}

/*Social links icons*/
.socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
}
.socials__item {
  width: 44px;
  height: 44px;
  border-radius: 1px transparent;
}
.socials__icon {
  display: inline-block;
  object-fit: cover;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-fill-color);
  width: 44px;
  height: 44px;
  transition-property: fill, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  width: 44px;
  height: 44px;
  fill: var(--primary-white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* Our clients section design */
.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-fill-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.clients__icon {
  display: inline-block;
  object-fit: cover;
}

/* Features design */
.feature {
  padding-top: 94px;
}
.feature__list {
  display: flex;
}
.feature__item {
  width: 270px;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}
.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--headline-color);
}
.feature__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.feature__icon {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-container {
  background-color: #F5F4FA;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

/* Footer design */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background);
}

.contacts__footer {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.studio-footer {
  color: var(--primary-white);
}

.logo__footer {
  display: inline-block;
  padding: 0px;
  margin-bottom: 28px;
}

.address {
  margin-bottom: 10px;
  color: var(--primary-white);
}

.email-footer {
  margin-bottom: 10px;
}

.email-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*Socials footer sections  */
.footer__container {
  display: flex;
}

.socials-footer {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
  margin-bottom: 72px;
}

.headline-footer {
  display: inline-block;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--primary-white);
}

.socials-list-footer {
  display: flex;
  align-items: left;
  gap: 10px;
  padding-left: 0px;
}

.social-link-footer {
  fill: var(--primary-white);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  transition-property: fill, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-link-footer:hover,
.social-link-footer:focus {
  width: 44px;
  height: 44px;
  fill: var(--primary-white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* Form*/
.subscription {
  width: 570px;
  height: 86px;
  margin-left: 94px;
  display: flex;
  flex-direction: column;
}
.subscription__label {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 20px;
}
.subscription__flex {
  display: flex;
}
.subscription__input {
  width: 358px;
  height: 50px;
  padding: 16px 18px;
  margin-right: 12px;
  color: var(--primary-white);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
.subscription__input:focus {
  border-color: var(--accent-color);
  border-radius: 4px;
}
.subscription__button {
  border: 1px solid var(--accent-color);
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-icon {
  margin-left: 10px;
}

/* Modal window design & settings */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition-property: visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  /*overflow-y: auto;*/
}

.modal__headline {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
  color: var(--headline-color);
  background-color: var(--primary-white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close {
  fill: #000000;
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.btn-icon {
  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Form */
.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
  display: block;
  margin-bottom: 4px;
}

.form-field__input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
}

.form-field__input:focus {
  border-color: var(--accent-color);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-field__textarea {
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea:focus {
  border-color: var(--accent-color);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.submit-btn {
  display: block;
  margin: 0 auto;
}

.policy-text--accent {
  color: var(--accent-color);
  margin-left: 5px;
}

.policy__text--hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.policy-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid var(--headline-color);
  transition: transform 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.policy__text--hidden:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--primary-white);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}/*# sourceMappingURL=styles.css.map */