
        *, ::after, ::before {
      box-sizing: border-box;
    }
    
html{
  scroll-behavior: smooth;
}

    body {
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.03em;
      background-color: var(--primary-white);
      color:var(--main-text-color);
      
  }
      

    .list{
        margin:0px;
        padding:0px;
        list-style:none;
      }
      
      .section:nth-child(4){
        background-color:#F5F4FA;
      }

      .section{
        padding-top:60px;
        padding-bottom:60px;

    @media (min-width:1200px){
      padding-top:94px;
      padding-bottom:94px;
    }
        }
      

      .section-title{
        margin-bottom:30px;

        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        color: var(--headline-color);

        @media(min-width:1200px){
          font-size: 36px;
          line-height:1.16;
          text-align: center;
          color: var(--headline-color);
          
          margin-top:0px;
          margin-bottom:50px;
        }
        }
        