 /* Our clients section design */
 .clients{

    &__list{
      display:flex;
      flex-wrap: wrap;
      gap:30px;
      
      @media (min-width:1200px){
      display:flex;
      flex-wrap: nowrap;
      align-items: center;
      }
    }
    
    &__link{
      display:flex;
      align-items: center;
      justify-content: center;
      fill:var(--icon-fill-color);
      
      width:210px;
      height: 92px;
      border: 1px solid var(--icon-fill-color);
      border-radius:4px;
    
      transition-property: fill;
      transition-duration:250ms;
      transition-timing-function:var(--timing-function);

      @media (min-width:768px) {
        width: 226px;
      }

      @media (min-width:1200px) {
        width: 170px;
      }
    }
    
    &__link:hover,
    &__link:focus{
      border: 1px solid var(--accent-color);
      fill:var(--accent-color);
    }
    
    &__icon{
      display:inline-block;
      object-fit: cover;
    }
  
  }