 /* Our clients section design */
 .clients{

    &__list{
      display:flex;
      align-items: center;
      gap:30px;
    }
    
    &__link{
      display:flex;
      align-items: center;
      justify-content: center;
      fill:var(--icon-fill-color);
    
      width: 170px;
      height: 92px;
     border: 1px solid var(--icon-fill-color);
    border-radius:4px;
    
    transition-property: fill;
      transition-duration:250ms;
      transition-timing-function:var(--timing-function);
    }
    
    &__link:hover,
    &__link:focus{
      border: 1px solid var(--accent-color);
      fill:var(--accent-color);
    }
    
    &__icon{
      display:inline-block;
      object-fit: cover;
    }
  
  }