
/* Footer design */

.footer {
    padding-top:60px;
    padding-bottom:60px;
  
    background-color: var( --second-background);
  } 
  
  .footer {
    padding-top:60px;
    padding-bottom:60px;
    background-color: var( --second-background);
    } 
  
    .contacts__footer {
      display:flex;
      flex-direction:column;
  
      font-style: normal;
      font-size: 14px;
      line-height:1.71;
    }
  
  .studio-footer {
    color: var(--primary-white);
  }
  
  .logo__footer{
    display:inline-block;
  
    padding:0px;
    margin-bottom: 28px;
  }
  
  .address {
    margin-bottom:10px;
  color:var(--primary-white);
  }
  
  .email-footer{
    margin-bottom:10px;
  }
  
  .email-footer,
  .tel-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration:none;
  }
  
  /*Socials footer sections  */
  
  .footer__container{
    display:flex; 
  }
  
  .socials-footer{
    width: 206px;
    height: 80px;
    margin-left:70px;
    margin-top:12px;
    margin-bottom:72px;
  }
  
  .headline-footer{
    display:inline-block;
    margin:0px;
    margin-bottom:20px;
    padding:0px;
  
    font-size: 14px;
    line-height: 1.14;
     line-height: 100%;
    text-transform:uppercase;
    color:var(--primary-white);
  }
  
  .socials-list-footer{
    display:flex;
    align-items: left;
    gap:10px;
    padding-left:0px;
  }
  
  .social-link-footer{
    fill:var(--primary-white);
    object-fit: cover;
    display:flex;
    align-items: center;
    justify-content: center;
  
    width: 44px;
    height: 44px;
    background-color: #FFFFFF1A;
    border-radius:50%;
  
    transition-property: fill, background-color, border-radius;
    transition-duration:250ms;
    transition-timing-function: var(--timing-function);
  
  }
  
  .social-link-footer:hover,
  .social-link-footer:focus{
    width: 44px;
    height: 44px;
    fill:var(--primary-white);
    background-color: var(--accent-color);  
    border-radius: 50%;
  }